.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1 !important;
    border-radius: 0;
    font-size: small;
}


.logo{
  text-align: center;
  padding-top: 50px;
}

.signup-page{
    background-color: rgb(74, 186, 238);
}
.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 25px 0;
    background-color: white !important;
    background:transparent !important; 
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
}

.signup-form form {     
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff !important;
    border: 1px solid #f3f3f3 !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background: transparent;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form label {
    font-weight: normal;
    font-size: 13px;
}

.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    background: transparent;
}   

.signup-form .input-group-addon {
    max-width: 50px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
}

.signup-form .btn {     
    font-size: 16px;
    font-weight: bold;
    background: #19aa2c;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.signup-form .btn:hover, .signup-form .btn:focus {
    background :#19aa8d;
}

.header{
    color: white;
}
